html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
}

.container {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 10px 0;
  margin-top: -20px;
}

nav img {
  width: 180px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 100px;
}

nav ul li {
  display: flex;
}
.header-links {
  margin-left: 550px;
}

.header-links a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(136 136 136);
}

.header-links a:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.2);
  text-decoration: none;
  padding: 0 10px;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(36 36 36);
}

button {
  cursor: pointer;
}

.header-buttons {
  margin-left: -90px;
  border: 0;
  padding: 3px 6px;
}

.header-buttons a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 5px 10px;
  border: 0;
  outline: 0;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.btn1 {
  margin: 0 5px 0 5px;
  background-color: black;
  border: none;
}

.btn1:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.1);
}

.btn2 {
  margin: 0 5px 0 5px;
  background-color: rgb(241 111 112);
  border: none;
}

.btn2:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.1);
}

.founder-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}

.text-content {
  margin-right: 20px;
}

.text-content h1 {
  font-size: 1.5rem;
  margin: 10px, 0;
  text-align: left;
}

.text-content h2 {
  font-size: 3rem;
  margin: -10px 0;
  margin-left: -50px;
}

.text-content p {
  font-size: 1rem;
  margin: 10px 10px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.text-content img {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.image-content img {
  max-width: 100%;
  height: 270px;
  position: relative;
  object-fit: contain;
}
.social-media {
  align-items: center;
  align-content: center;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -407px;
  height: 50px;
  width: 50px;
  background-color: rgb(241 111 112);
}

.arrow svg {
  color: white;
  height: 20px;
}

.form-section {
  width: 100%;
  height: 350px;
  padding-top: 30px;
  background-color: rgb(239 239 239);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-content {
  width: 55%;
}

.form-content h1 {
  font-size: 25px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.form-content h1 b {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 1px 6px;
}

.form-content h2 {
  margin-top: -5px;
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.subscribe-form {
  display: inline-block;
  justify-content: space-around;
  height: 35px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}

.subscribe-form input {
  height: 35px;
  width: 320px;
  padding: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  border: none;
}

.subscribe-form button {
  font-family: "Roboto", sans-serif;
  background-color: rgb(241 111 112);
  color: white;
  font-weight: 500;
  height: 35px;
  border: none;
  padding: 0 5px;
  margin-left: -5px;
}

.subscribe-form button:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.05);
}

.trending-section {
  text-align: center;
  padding: 50px 0;
  background-color: rgb(254 254 254);
  padding: 20px;
  height: 450px;
}

.blog-card-btn {
  margin-left: 300px;
}

.trending-section-header {
  display: inline-flex;
  align-items: center;
  padding: 20px;
}

.trending-section-header h2 {
  position: absolute;
}

.trending-section-header svg {
  color: rgb(0, 0, 0);
  height: 20px;
}

.blog-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 370px;
}

.blog-card {
  width: 264.57px;
  text-align: center;
  display: grid;
  background-color: rgb(255 255 255);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
  height: 340px;
}

.blog-card:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  transform: translateY(-15px);
}

.blog-card img {
  max-width: 100%;
  height: auto;
}

.blog-card h1 {
  margin-top: 20px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
}

.blog-card h2 {
  font-size: 13px;
  padding: 5px;
  font-weight: 300;
  margin-top: -10px;
}

.blog-card p {
  display: inline;
  height: 95%;
  color: rgb(241 111 112);
  margin: 10px 0;
  font-size: 13px;
  font-weight: 800;
  align-items: center;
}

.blog-card p svg {
  height: 13px;
}

/* .featured-section{
  height: 360px;
  width: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.featured-section h1{
  justify-content: center;
}

.featured-logos{
  display: inline-flex;
}

.featured-logos img{
 height: 30px;
} */

.join-section {
  display: flex;
  height: 360px;
  width: 100%;
}

.join-content {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  width: 70%;
}

.join-section-form {
  display: flex;
  justify-content: space-around;
  height: 35px;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}

.join-section-form input {
  height: 35px;
  width: 470px;
  padding: 0;
  text-align: left;
  font-family: "Roboto", sans-serif;
  border: none;
}

.join-btn {
  display: flex;
  height: 35px;
  width: 50px;
  background-color: black;
  align-items: center;
  justify-content: center;
  border-style: none;
}
.join-btn:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.05);
}

.join-btn svg {
  height: 20px;
  width: 20px;
  color: white;
}

.join-icons {
  justify-content: left;
  gap: 20px;
  list-style: none;
  display: flex;
  margin-top: 30px;
  margin-left: -40px;
  gap: 15px;
  list-style: none;
}
.join-icons li {
  display: inline-block;
  height: 30px;
  width: 30px;
  gap: 20px;
}

.join-section-form p {
  font-size: 10px;
}

.join-links li {
  list-style: none;
}
