html {
  overflow: auto;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
}

body {
  border-image-repeat: stretch;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding: 1rem 0;
  margin-top: -2rem;
}

nav img {
  width: 11.25rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 25.25rem;
}

nav ul li {
  display: flex;
}

.header-links {
  margin-left: 8.75rem;
}

.header-links a {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(136 136 136);
}

.header-links a:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.2);
  text-decoration: none;
  padding: 0 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(36 36 36);
}

button {
  cursor: pointer;
}

.header-buttons {
  margin-left: -23.875rem;
  border: 0;
  padding: 0.1875rem 0.375rem;
}

.header-buttons a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0.4375rem 0.9375rem;
  border: 0;
  outline: 0;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
}

.btn1 {
  margin: 0 0.3125rem 0 0.3125rem;
  background-color: black;
  border: none;
}

.btn1:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.1);
}

.btn2 {
  margin: 0 0.3125rem 0 0.3125rem;
  background-color: rgb(241 111 112);
  border: none;
}

.btn2:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.1);
}

.founder-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.125rem 0;
}

.text-content {
  margin-right: 1.25rem;
}

.text-content h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.625rem 0 0.625rem -1.25rem;
  text-align: left;
}

.text-content h2 {
  font-size: 3rem;
  margin: -0.625rem 0;
  margin-left: -3.125rem;
}

.founder-section-hr {
  margin: 0.9375rem 0 0.625rem -1.25rem;
}

.text-content p {
  font-size: 1rem;
  margin: 0.625rem 0.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.text-content img {
  height: 1.5625rem;
  width: 1.5625rem;
  margin: 0.3125rem;
}

.image-content img {
  max-width: 100%;
  height: 16.875rem;
  position: relative;
  object-fit: contain;
}

.social-media {
  align-items: center;
  align-content: center;
  margin-left: -1.875rem;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -25.4375rem;
  height: 3.125rem;
  width: 3.125rem;
  background-color: rgb(241 111 112);
}

.arrow:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: scale(1.1);
}

.arrow svg {
  color: white;
  height: 1.25rem;
}

.form-section {
  width: 100%;
  height: 21.875rem;
  padding-top: 1.875rem;
  background-color: rgb(239 239 239);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-content {
  width: 60%;
}

.form-content h1 {
  font-size: 1.5625rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}

.form-content h1 b {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 0.0625rem 0.375rem;
}

.form-content h2 {
  margin-top: -0.3125rem;
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.subscribe-form {
  display: inline-block;
  justify-content: space-around;
  height: 2.1875rem;
  box-shadow: 0px 0px 0.562 5rem rgba(0, 0, 0, 0.1);
}

.subscribe-form input {
  height: 2.1875rem;
  width: 20rem;
  padding-left: 0.625rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  border: none;
}

.subscribe-form button {
  font-family: "Roboto", sans-serif;
  background-color: rgb(241 111 112);
  color: white;
  font-weight: 500;
  height: 2.3125rem;
  border: none;
  padding: 0 0.3125rem;
  margin-left: -0.3125rem;
}

.subscribe-form button:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.05);
}

.trending-section {
  text-align: center;
  padding: 3.125rem 0;
  background-color: rgb(254 254 254);
  overflow: hidden;
}

.blog-card-btn {
  margin-left: 18.75rem;
}

.trending-section-header {
  display: inline-flex;
  align-items: center;
  padding: 1.25rem;
}

.trending-section-header h2 {
  position: absolute;
}

.trending-section-header svg {
  color: rgb(0, 0, 0);
  height: 1.25rem;
}

.blog-container {
  margin-top: 1.25rem;
  display: flex;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 23.125rem;
}

.blog-card {
  width: 16.5714rem;
  text-align: center;
  display: grid;
  background-color: rgb(255 255 255);
  box-shadow: 0px 0px 0.375rem 0px rgba(0, 0, 0, 0.15);
  height: 21.25rem;
}

.blog-card:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  transform: translateY(-1.25rem);
}

.blog-card img {
  max-width: 100%;
  height: auto;
}

.blog-card h1 {
  margin-top: 1.25rem;
  padding: 0.3125rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.blog-card h2 {
  font-size: 0.8125rem;
  padding: 0.3125rem;
  font-weight: 300;
  margin-top: -0.625rem;
}

.blog-card p {
  display: inline;
  height: 95%;
  color: rgb(241 111 112);
  font-size: 0.8125rem;
  font-weight: 800;
  align-items: center;
}

.blog-card p svg {
  height: 0.8125rem;
}

.featured-section {
  font-family: "Roboto", sans-serif;
  height: 21.25rem;
  width: 90%;
  padding: 3.125rem;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.featured-section h1 {
  justify-content: center;
  margin-bottom: 3.75rem;
}

.row img {
  margin: 1.25rem 1.875rem;
}

#logo1,
#logo3 {
  height: 1.875rem;
  width: auto;
}

#logo2,
#logo8,
#logo9 {
  height: 2.1875rem;
  width: auto;
}

#logo4,
#logo5 {
  height: 2.5rem;
  width: auto;
}

#logo6,
#logo7 {
  height: 1.25rem;
  width: auto;
}

#logo10 {
  height: 3.125rem;
  width: auto;
}

.join-section {
  display: flex;
  height: 25rem;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: rgb(239 239 239);
}

.join-content {
  margin: 1.25rem auto;
  display: flex;
  justify-content: center;
  width: 70%;
}

.join-content h1 {
  font-weight: 1.25rem;
}

.join-section-form {
  display: flex;
  justify-content: space-around;
  height: 2.1875rem;
  box-shadow: 0px 0px 0.5625rem rgba(0, 0, 0, 0.1);
}

.join-section-form input {
  height: 2.1875rem;
  width: 20rem;
  padding-left: 0.625rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  border: none;
}

.join-btn {
  display: flex;
  height: 2.1875rem;
  width: 3.125rem;
  background-color: black;
  align-items: center;
  justify-content: center;
  border-style: none;
}

.join-btn:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.05);
}

.join-btn svg {
  height: 1.25rem;
  width: 1.25rem;
  color: white;
}

.join-icons {
  justify-content: left;
  gap: 1.25rem;
  list-style: none;
  display: flex;
  margin-top: 2.5rem;
  margin-left: -2.5rem;
  gap: 1.25rem;
  list-style: none;
}

.join-icons li {
  display: inline-block;
  height: 1.875 rem;
  width: 1.875rem;
  gap: 1.25rem;
}

.join-content p {
  margin-left: -0.3125rem;
  margin-top: 3.75rem;
}

.join-links {
  margin-top: 2.5rem;
}

.join-links li {
  margin: 0.5rem 0 0 1rem;
  list-style: none;
  font-size: 0.875rem;
}


@media only screen and (max-width: 767px) {
 .container {
  height: 90%;
  width: 90%;

  }
}