* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.navbar {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(136 136 136);
}

.nav-link {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(136 136 136);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.nav-link:hover {
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: scale(1.2);
}

.navbar-brand img {
  height: 2rem;
}

.header-buttons {
  list-style: none;
  border: 0;
  padding: 0.1875rem 0.375rem;
  margin: 0;
}

.header-buttons a {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0.4375rem 0.9375rem;
  border: 0;
  outline: 0;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
}

.btn1,
.btn2 {
  margin: 0 0.3125rem 0 0.3125rem;
  background-color: rgb(241 111 112);
  border: none;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.btn1 {
  background-color: black;
}

.btn1:hover,
.btn2:hover {
  transform: scale(1.1);
}

.founder-section {
  margin-left: 2rem;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.125rem 0;
}

.text-content {
  margin-right: 1.25rem;
}

.text-content h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.625rem 0 0.625rem -1.25rem;
  text-align: left;
}

.text-content h2 {
  font-size: 3rem;
  margin: -0.625rem 0;
  margin-left: -1.5rem;
  font-weight: bold;
}

.founder-section-hr {
  margin: 0.9375rem 0 0.625rem -1.25rem;
}

.text-content p {
  font-size: 1rem;
  margin: 0.625rem 0.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.text-content img {
  height: 1.5625rem;
  width: 1.5625rem;
  margin: 0.3125rem;
}

.image-content img {
  max-width: 100%;
  height: 16.875rem;
  position: relative;
  object-fit: contain;
}

.social-media {
  align-items: center;
  align-content: center;
  margin-left: -1.875rem;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -23.4375rem;
  height: 3.125rem;
  width: 3.125rem;
  background-color: rgb(241 111 112);
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.arrow:hover {
  transform: scale(1.1);
}

.arrow svg {
  color: white;
  height: 1.25rem;
}

.form-section {
  width: 100%;
  height: 21.875rem;
  padding-top: 1.875rem;
  background-color: rgb(239 239 239);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.form-content {
  width: 60%;
}

.form-content h1 {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.form-content h1 b {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 0.06rem 0.3rem;
}

.form-content h2 {
  margin: 2rem 0;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.subscribe-form {
  display: inline-block;
  justify-content: space-around;
  height: 2.1875rem;
  box-shadow: 0px 0px 0.562 5rem rgba(0, 0, 0, 0.1);
}

.subscribe-form input {
  height: 2.1875rem;
  width: 20rem;
  padding-left: 0.625rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  border: none;
}

.subscribe-form button {
  font-family: "Roboto", sans-serif;
  background-color: rgb(241 111 112);
  color: white;
  font-weight: 500;
  height: 2.3125rem;
  border: none;
  padding: 0 0.3125rem;
  margin-left: -0.3125rem;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.subscribe-form button:hover {
  transform: scale(1.05);
}

.trending-section {
  text-align: center;
  padding: 3.125rem 0;
  background-color: rgb(254 254 254);
  overflow: hidden;
}

.blog-card-btn {
  margin-left: 18.75rem;
}

.trending-section-header {
  display: inline-flex;
  align-items: center;
  padding: 1.25rem;
}

.trending-section-header h2 {
  position: absolute;
  font-size: 1.5rem;
}

.trending-section-header svg {
  color: rgb(0, 0, 0);
  height: 1.25rem;
}

.blog-container {
  margin-top: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  height: 23.125rem;
}

.blog-card {
  width: 16.5714rem;
  text-align: center;
  display: grid;
  background-color: rgb(255 255 255);
  box-shadow: 0px 0px 0.375rem 0px rgba(0, 0, 0, 0.15);
  height: 21.25rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out, ease-in-out;
  transform: translateY(0);
}

.blog-card:hover {
  transform: translateY(-1.25rem);
}

.blog-card img {
  max-width: 100%;
  height: auto;
}

.blog-card h1 {
  margin-top: 1.25rem;
  padding: 0.3125rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.blog-card h2 {
  font-size: 0.8125rem;
  padding: 0.3125rem;
  font-weight: 300;
  margin-top: -0.625rem;
}

.blog-card p {
  display: inline;
  height: 95%;
  color: rgb(241 111 112);
  font-size: 0.8125rem;
  font-weight: 800;
  align-items: center;
}

.blog-card p svg {
  height: 0.8125rem;
}

.featured-section {
  font-family: "Roboto", sans-serif;
  height: 25.25rem;
  width: 90%;
  padding: 3.125rem;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin: 0 3rem;
}

.featured-section h1 {
  font-size: 1.5rem;
  justify-content: center;
  margin-bottom: 3.75rem;
}

.rows {
  display: inline-flex;
}

#row img {
  margin: 20px 30px;
}

#logo1,
#logo3 {
  height: 1.875rem;
  width: auto;
}

#logo2,
#logo8,
#logo9 {
  height: 2.1875rem;
  width: auto;
}

#logo4,
#logo5 {
  height: 2.5rem;
  width: auto;
}

#logo6,
#logo7 {
  height: 1.25rem;
  width: auto;
}

#logo10 {
  height: 3.125rem;
  width: auto;
}

.join-section {
  display: flex;
  width: 100%;
  font-family: "Roboto", sans-serif !important;
  background-color: rgb(239 239 239);
}

.join-content {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  width: 70%;
}

.join-content h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.join-section-form {
  display: inline-flex;
  justify-content: space-around;
  height: 2.1875rem;
  box-shadow: 0px 0px 0.5625rem rgba(0, 0, 0, 0.1);
}

.join-section-form input {
  height: 2.1875rem;
  width: 25rem;
  padding-left: 0.625rem;
  text-align: left;
  font-family: "Roboto", sans-serif;
  border: none;
}

.join-btn {
  display: flex;
  height: 2.1875rem;
  width: 3.125rem;
  background-color: black;
  align-items: center;
  justify-content: center;
  border-style: none;
}

.join-btn:hover {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transform: scale(1.05);
}

.join-btn svg {
  height: 1.25rem;
  width: 1.25rem;
  color: white;
}

.join-icons {
  justify-content: left;
  gap: 1.25rem;
  list-style: none;
  display: flex;
  margin-top: 2rem;
  margin-left: -2rem;
  gap: 1.25rem;
  list-style: none;
}

.join-icons li {
  display: inline-block;
  height: 1.875rem;
  gap: 1.25rem;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out, ease-in-out;
  transform: translateY(0);
}

.join-icons li:hover {
  transform: translateY(-0.25rem);
  display: inline-block;
  height: 1.875rem;
  gap: 1.25rem;
}

.join-content p {
  margin-top: 2rem;
}

.join-links {
  margin-top: 2.5rem;
}

.join-links li {
  margin-top: 0.5rem;
  list-style: none;
  font-size: 0.875rem;
}

@media only screen and (width<= 1200px) {
  .rows {
    display: block;
  }
  .featured-section {
    height: 100%;
  }
}
@media screen and (max-width: 1140px) {
  .blog-container {
    height: 100%;
  }
}

@media only screen and (width<= 992px) {
  .founder-section {
    margin: 2rem;
    padding: 2rem;
    display: grid;
  }
  .nav-link:hover {
    transform: scale(1);
  }
  .featured-section {
    margin: 0;
    padding: 50px 0;
  }
  .blog-card {
    margin: 10px 20px;
  }
}

@media only screen and (width <= 700px) {
  .founder-section h1 {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 2rem auto;
    text-align: center;
  }

  .founder-section h2 {
    font-size: 2rem;
  }
  .form-section h1 {
    font-size: 1rem;
  }

  .form-section h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #e-mail,
  .form-content button {
    height: 2rem;
    width: -webkit-fill-available;
    margin: 5px auto;
  }

  .trending-section-header h2 {
    font-size: 1.5rem;
  }
  .join-content {
    display: block;
    text-align: center;
  }
  .join-icons {
    justify-content: center;
  }
}
